
<footer class="text-center">
    <hr />
    <p class="text-center py-5">Made with ❤️ by <span class="font-black"><a
          href="https://github.com/DrasticCoder">@DrasticCoder</a></span></p>
  </footer>


</div>

</body>
</html> 