<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shorten</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="sticky top-0 z-50">
        <div>
            <div class="w-full bg-black  opacity-90 h-20 flex justify-between ">
                <div class="w-full lg:w-30/6 xl:w-full  h-full flex items-center px-4 text-white sm:text-3xl">
                    URL Shortner
                </div>

                <div class="w-full  h-full flex justify-end items-center">

                    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                        data-name="bmc-button" data-slug="drasticcoder" data-color="#FFDD00" data-emoji=""
                        data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000"
                        data-font-color="#000000" data-coffee-color="#ffffff"></script>

                </div>
            </div>
        </div>
    </div>
